body{
    color: #000;
}

.wrapper {
    /* background-image: url("../Photos/1076344296.jpg"); */
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.selected-item {
    /* position: relative; */
    background-color: #EFEFEF;
    border: 4px solid #202632;
    height: 300px;
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
    float: left;
    background-position: center center;
    background-size: cover;
    width: 100%;
    max-width: 250px;
}

.empty {
    background: rgba(0, 0, 0, 0.6) !important;
}

.empty-inner {
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px dashed #ACACAC;
    padding-top: 75px;
    color: white;
}

.displayCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.displayCenter_2 {
    display: flex;
    justify-content: center;
}

.steps {
    color: #FFFFFF;
}

.button_a {
    position: absolute;
    width: 100%;
    padding: 25px;
    display: block;
    /* position: relative; */
    text-align: center;
    margin: 0 auto;
    max-width: 270px;
    background-color: #00C389;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 1;
    top: 25%;
}

.button_a:hover {
    color: #FFFFFF !important;
}

.writeTextHere {
    height: auto;
    max-width: 370px;
    padding: 10px 20px !important;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    line-height: 20px;
}

.total_here {
    color: #202632;
    margin-top: 30px;
}

.total_here h6 {
    font-size: 42px !important;
    font-weight: 600;
}


.gallery-container {
    /* display: none; */
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 30;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: scroll;
}

.close-options {
    padding: 10px;
    float: right;
    margin: 10px 10px 10px 50px;
    color: white;
    background: #00C389;
}

.options-heading {
    text-align: center;
}

.video-link {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    max-width: 800px;
    background-color: #9E9E9E;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.video-link:hover {
    color: #fff;
}

.options-container {
    gap: 10px;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
}

.cards {
    width: 100%;
    max-width: 300px;
    min-height: 260px;
    border: 2px solid #202632;
    color: #FFFFFF;
    text-align: center;
    background: #FFFFFF;
    padding: 15px 20px;
}

.bg_img {
    background-image: url('../Photos/Fire_Feature/12k_18k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}

.liteBackground {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    transition: 0.4s ease-in-out;
}

.bg_img:hover .liteBackground {
    background: none;
    transition: 0.4s ease-in-out;
}

.textBackground {
    min-height: 150px;
}

.title {
    font-size: 18px;
    font-weight: 400;
    min-height: 60px;
}

.desc {
    font-size: 16px;
    font-weight: 400;
    min-height: 80px;
    min-width: 250px;
}

.title p {
    margin-bottom: 0px !important
}

.desc p {
    margin-bottom: 0px !important
}

.bg_img:hover .desc p,
.bg_img:hover .title p {
    display: none;
    transition: 0.4s ease-in-out;
}

.spaceBT {
    display: flex;
    justify-content: space-around;
}

.checkButton {
    width: 100%;
    border: 2px solid #FFFFFF;
    background: transparent;
    padding: 5px 5px !important;
    text-align: center;
    /* max-width: 80px; */
}

.checkButton:hover {
    border: 2px solid #FFFFFF;
    background: #00C389;
    text-align: center;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]:checked+label {
    background-color: #00C389;
    color: #f1f3f5;
    transition: 0.3s;
}

.addButton {
    border: none;
    /* background: #816951; */
    background: #00C389;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    margin-top: 10px;
}

.empty-inner {
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px dashed #ACACAC;
    padding-top: 75px;
    color: white;
}

.empty {
    background: rgba(0, 0, 0, 0.6) !important;
    cursor: pointer;
    min-height: 333px;
    width: 100%;
    min-width: 300px;
}

.selected-item {
    width: 100%;
    background-color: #EFEFEF;
    border: 4px solid #202632;
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
    float: left;
    background-position: center center;
    background-size: cover;
}

.add-plus {
    font-size: 70px;
    color: #00C389;
    vertical-align: middle;
}

.add-add {
    font-size: 30px;
    vertical-align: text-top;
    color: white;
}

.project_add_here {
    gap: 5px;
    justify-content: center;
}

.boxStyle{
    border: 2px dashed #202632;
    /* border: 2px dashed #202632; */
    /* border-radius: 10px; */
    /* background: #F7F8FB; */
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 300px;
    justify-content: center;
}

@media (max-width: 768px) {

    .displayCenter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.btn-applyNow{
    background-color: #006be3;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    font-size: 14px !important;
    padding: 7px;
    min-width: 130px;
}
.btn-applyNow:hover{
    background-color: #006be3dd;
    color: #fff;
    min-width: 132px;
}